*,
*::before,
*::after {
    margin: 0; padding: 0; box-sizing: border-box;
}

/*DESKTOP DEBUT*/
@media screen and (min-width: 1025px) {
/*Code css pour la page accueil.html debut*/
/*style css class="ma_header" debut*/
#site_logo {
    width: 100%; height: auto;
    margin-right: 1.25rem; width: 120px;
}

.ma_header {
    display: flex; align-items: center; justify-content: space-between;
}

li {
    list-style-type: none;
}

.menu {
    display: flex; margin-left: 20px; gap: 20px; font-size: 1.37rem;
}

.lien_menu {
    text-decoration: none; color: green;
}

.lien_menu:hover {
    color: orange; text-decoration: underline;
}

.lien_menu:active {
    color: grey;
}

#burger-toggle, .burger {
    display: none;
}

.lien_logo {
    margin-right: 20px; margin-top: 10px;
}
/*style css class="ma_header" fin*/

/*style css class="hero" debut*/
.hero {
    text-align: center;
    padding: 3rem 1rem;
    background: linear-gradient(120deg, #0d6efd, #6c757d);
    color: white; margin-top: 1.25rem;
}

.para1 {
    font-size: 1.25rem;
}

.titre1_accueil {
    color: white;
}
/*style css class="hero" fin*/

/*style css class="services" debut*/
.services {
    padding: 2rem 1rem;
    text-align: center;
}

.services .titre2_accueil {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
}

.service_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.service_item {
    background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.service_item i {
    font-size: 2rem;
    color: #0d6efd;
    margin-bottom: 0.5rem;
}

.services_para {
    font-size: 1.125rem;
}
/*style css class="services" fin*/

/*style css class="ma_section" debut*/
.ma_section {
    display: flex; background-color: #F9F9F9;
    gap: 20px;
}

.image1-ma-section, .image2-ma-section {
    height: 18.75rem;
}

#decouvrir {
    padding: 10px 20px; color: white; font-size: 1rem;
    background: linear-gradient(#1488CC, #2b32b2);
    border: none; cursor: pointer;
}

#decouvrir:hover {
    background: linear-gradient(#0f0c29, #302b63, #24243e);
}

#decouvrir:active {
    background: linear-gradient(#2b32b2, #1488CC);
}
.titre-para-btn {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center; gap: 25px;
}

.para2_accueil {
    font-size: 1.25rem; text-align: justify;
}
/*style css class="ma_section" fin*/

/*style css class="contact_info" debut*/
.contact_info {
    background: #0d6efd;
    color: white;
    padding: 5px;
    text-align: center;
    margin-top: 1.25rem;
    display: flex; flex-direction: column;
    gap: 5px;
}

.adresse {
    font-size: 1.25rem;
}
/*style css class="contact_info" fin*/
/*Code css pour la page accueil.html fin*/




/*Code css pour la page services.html debut*/
/*style css class="titre1_services" debut*/
.titre1_services {
    text-align: center; border-radius: 8px;
    /*box-shadow: 0 2px 6px rgba(0,0,0,0.2);*/
    /*background: #333;*/ /* gris foncé */
    color: #fff; margin-top: 1.25rem;
    background: linear-gradient(120deg, #0d6efd, #6c757d);
    font-size: 1.75rem;
}
/*style css class="titre1_services" fin*/

/*style css class="img-tech-info" debut*/
.titre1-tech-info {
    text-align: center;
}

.img-tech-info {
    width: 100%; max-width: 300px; height: 300px;
    display: block; margin: auto; margin-top: 1.25rem;
    border-radius: 50%;
}
/*style css class="img-tech-info" fin*/

/*style css class="puce" debut*/
.puce {
    padding-left: 100px;
}

.mes-listes-apuce {
    font-size: 1.5rem;
}
/*style css class="puce" fin*/

/*style css class="liste_mains" debut*/
.liste_mains {
    display: flex; flex-direction: column;
    gap: 10px;
}
/*style css class="liste_mains" fin*/

/*style css class="dispositif" debut*/
.dispositif {
    display: flex; flex-direction: column;
    margin-top: 1.25rem; gap: 20px;
}
/*style css class="dispositif" fin*/

.main-droite-puce, .liste_mains {
    margin-left: 10px;
}

/*style css class="titre_niveau3" debut*/
      .titre_niveau3 {
        font-size: 2rem;
      }
      /*style css class="titre_niveau3" fin*/

      /*style css class="contact_info" debut*/
    .contact_info {
        padding: 5px; display: flex; flex-direction: column;
        gap: 5px; margin-top: 1.25rem;
    }
    /*style css class="contact_info" fin*/
/*Code css pour la page services.html fin*/




/*Code css pour la page cataloque.html debut*/
/*style css class="intro_catalogue" debut*/
.intro_catalogue {
    text-align: center;
    margin: 2rem auto;
    max-width: 56.25rem;
    padding: 1rem;
}

h1 {
    color: #0D6EFD;
}
/*style css class="intro_catalogue" fin*/

/*style css class="ma-section-catalogue debut*/
.ma-section-catalogue {
    display: grid; grid-template-columns: 1fr 1fr 1fr;
    padding-left: 50px; padding-right: 50px; gap: 15px;
    background-color: #0D6EFD; margin: 50px;
}

.image_catalogue {
    height: 18.75rem; margin-top: 3.125rem; width: 100%;
}

.para1_catalogue {
    font-size: 1.25rem;
}

.para2_catalogue {
    font-size: 1.25rem; text-align: center; background-color: #333;
    color: white;
}
/*style css class="ma-section-catalogue" fin*/

/*style css class="contact_info" debut*/
    .contact_info {
        padding: 5px; display: flex; flex-direction: column;
        gap: 5px; margin-top: 1.25rem;
    }
    /*style css class="contact_info" fin*/
/*Code css pour la page catalogue.html fin*/

#back-to-top {
    padding: 10px 20px; border: none;
    color: white; background-color: blue;
    position: fixed; right: 20px; bottom: 20px;
}

#back-to-top:active {
    border: 1px solid black;
}
}





/*MOBILE DEBUT*/
@media screen and (max-width: 768px) {
    /*Code css pour la page accueil.html debut*/
    /*style css class="ma_header" debut*/
    .ma_header {
        display: flex; align-items: center; justify-content: space-between;
    }

    .menu {
        display: none; gap: 15px; flex-direction: column;
        justify-content: center; align-items: center;
        transition: all 0.3s ease-in-out;
    }

    .lien_menu {
        font-size: 1.125rem; text-decoration: none;
        color: green;
    }

    #site_logo {
        width: 100%; max-width: 100px; height: auto;
    }

    #burger-toggle {
        display: none;
    }

    .burger {
        display: block; font-size: 2rem; cursor: pointer;
        color: blue; position: absolute; left: 20px;
    }

    .lien_logo {
        margin-right: 10px; margin-top: 10px;
    }

    #burger-toggle:checked + .burger + nav .menu {
        display: flex;
    }

    nav {
        margin-left: 55px; margin-top: 15px;
    }

    li {
        list-style-type: none;
    }
    /*style css class="ma_header" fin*/

    /*style css class="hero" debut*/
    .hero {
        background: linear-gradient(120deg, #0d6efd, #6c757d); text-align: center;
        padding: 30px; margin-top: 1.25rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .para1 {
        font-size: 1.125rem;
    }

    .titre1_accueil, .para1 {
    color: white;
    }

    .para1 {
        text-align: center;
    }
    /*style css class="hero" fin*/

    /*style css class="services" debut*/
    .titre2_accueil {
        text-align: center; margin-top: 1.25rem;
        background-color: #333; color: white;
        border-radius: 8px;
    }

    .service_list {
        margin-top: 1.25rem; display: flex; flex-direction: column;
        gap: 15px;
    }

    .service_item {
        background-color: #F9F9F9; padding: 0.62rem; display: flex;
        flex-direction: column; gap: 5px;
    }

    .services_para {
        color: black;
    }
    /*style css class="services" fin*/

    /*style css class="ma_section" debut*/
    .titre-niveau1 {
        color: black;
    }

    .image1-ma-section, .image2-ma-section {
        height: 200px;
    }

    .ma_section {
        background-color: #F9F9F9; display: flex; flex-direction: column;
        margin-top: 1.25rem; gap: 20px;
    }

    .titre-niveau1 {
        text-align: center;
    }

    #decouvrir {
        display: block; margin: auto; padding: 5px 10px;
        color: white; font-size: 1rem; background: linear-gradient(#1488CC, #2b32b2);
        border: none; cursor: pointer;
    }

    #decouvrir:hover {
    background: linear-gradient(#0f0c29, #302b63, #24243e);
    }

    #decouvrir:active {
    background: linear-gradient(#2b32b2, #1488CC);
    }

    .titre-para-btn {
        padding: 10px; display: flex; flex-direction: column;
        gap: 7px;
    }

    .para2_accueil {
        text-align: justify;
    }

    .image1, .image2 {
        display: flex; justify-content: center;
    }
    /*style css class="ma_section" fin*/

    /*style css class="contact_info" debut*/
    .contact_info {
        background: #0d6efd; color: white; margin-top: 1.25rem;
        display: flex; flex-direction: column; padding: 5px;
        gap: 5px;
    }

    .adresse {
        text-align: center; font-size: 1.125rem;
    }

    .titre2-contact-accueil {
        text-align: center;
    }
    /*style css class="contact_info" fin*/
    /*Code css pour la page accueil.html fin*/

    /*Code css pour la page services.html debut*/
    /*style css class="titre1_services" debut*/
    .titre1_services {
    text-align: center; border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    background: #333; /* gris foncé */
    color: #fff; margin-top: 1.25rem;
    }
    /*style css class="titre1_services" fin*/

    /*style css class="titre1-tech-info" debut*/
    .titre1-tech-info {
        margin-top: 1.25rem;
        font-size: 1.25rem;
    }
    /*style css class="titre1-tech-info" fin*/

     /*style css class="img-tech-info" debut*/
     .img-tech-info {
        width: 100%; max-width: 300px; height: auto;
        display: block; margin: auto; border-radius: 50%;
        margin-top: 1.25rem;
     }
      /*style css class="img-tech-info" fin*/

      /*style css class="titre_niveau3" debut*/
      .titre_niveau3 {
        /*font-size: 24px;*/ font-size: 1.25rem;
      }
      /*style css class="titre_niveau3" fin*/
      
      /*style css class="main-droite-puce" debut*/
      .main-droite-puce {
        margin-top: 1.25rem;
      }
      /*style css class="main-droite-puce" fin*/

      /*style css class="dispositif" debut*/
      .dispositif {
        display: flex; flex-direction: column; gap: 20px;
      }
      /*style css class="dispositif" fin*/

      /*style css class="liste_mains" debut*/
      .liste_mains {
        display: flex; flex-direction: column; gap: 10px;
      }
      /*style css class="liste_mains" fin*/

      /*style css class="puce" debut*/
      .puce {
        margin-left: 63px;
      }
      /*style css class="puce" fin*/

      .main-droite-puce, .liste_mains {
        margin-left: 5px;
      }

    /*style css class="contact_info" debut*/
    .contact_info {
        padding: 5px; display: flex; flex-direction: column;
        gap: 5px; margin-top: 1.25rem;
    }
    /*style css class="contact_info" fin*/

    /*style css class="mes-listes-apuce" debut*/
    .mes-listes-apuce {
        font-size: 1.25rem;
    }
    /*style css class="mes-listes-apuce" fin*/
    /*Code css pour la page services.html fin*/

    /*Code css pour la page catalogue.html debut*/
    /*style css class="intro_catalogue" debut*/
    .intro_catalogue {
        margin-top: 1.25rem;
    }

    h1 {
        color: #0d6efd; text-align: center;
    }

    p {
        text-align: justify; padding: 10px; font-size: 1.06rem;
    }
    /*style css class="intro_catalogue" fin*/

    /*style css class="ma-section-catalogue" debut*/
    .ma-section-catalogue {
        padding: 10px; display: flex; flex-direction: column;
        gap: 50px; margin-top: 1.25rem; background-color: #0D6EFD;
    }

    .image_catalogue {
        width: 100%;
    }

    .para2_catalogue {
    text-align: center; background-color: #333;
    color: white; font-size: 1.25rem;
}

#back-to-top {
    padding: 10px 20px; border: none;
    color: white; background-color: blue;
    position: fixed; right: 20px; bottom: 20px;
}

#back-to-top:active {
    border: 1px solid black;
}
    /*style css class="ma-section-catalogue" fin*/

    /*style css class="contact_info" debut*/
    .contact_info {
        padding: 5px; display: flex; flex-direction: column;
        gap: 5px; margin-top: 1.25rem;
    }
    /*style css class="contact_info" fin*/
    /*Code css pour la page catalogue.html fin*/
}
/*MOBILE FIN*/





/*TABLETTE DEBUT*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /*Code css pour la page accueil.html debut*/
    /*style css class="ma_header" debut*/
    #burger-toggle, .burger {
        display: none;
    }

    .ma_header {
        display: flex; align-items: center; justify-content: space-between;
    }

    #site_logo {
        width: 100%; max-width: 110px; height: auto;
    }

    .menu {
        display: flex; margin-left: 20px; gap: 15px;
    }

    .lien_logo {
        margin-right: 20px; margin-top: 20px;
    }

    li {
        list-style-type: none;
    }

    .lien_menu {
        font-size: 1.25rem; color: green; text-decoration: none;
    }
    /*style css class="ma_header" fin*/

    /*style css class="hero" debut*/
    .hero {
        background: linear-gradient(120deg, #0d6efd, #6c757d); text-align: center;
        padding: 30px; margin-top: 1.25rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .para1 {
        font-size: 1.125rem;
    }

    h1, .para1 {
        color: white;
    }
    /*style css class="hero" fin*/

    /*style css class="services" debut*/
    .titre2_accueil {
        text-align: center; margin-top: 1.25rem;
        background-color: #333; color: white;
        border-radius: 8px;
    }

    .service_list {
        margin-top: 1.25rem; display: flex; flex-direction: column;
        gap: 15px;
    }

    .service_item {
        background-color: #F9F9F9; padding: 0.62rem; display: flex;
        flex-direction: column; gap: 5px;
    }

    .services_para {
        color: black;
    }
    /*style css class="services" fin*/

    /*style css class="ma_section" debut*/
    .ma_section {
        display: flex; align-items: center; background-color: #F9F9F9;
        margin-top: 1.25rem; gap: 25px;
    }

    .image1-ma-section, .image2-ma-section {
        height: 200px;
    }

    .titre-niveau1 {
        color: black; text-align: center;
    }

    #decouvrir {
        display: block; margin: auto; padding: 5px 10px;
        color: white; font-size: 1rem; background: linear-gradient(#1488CC, #2b32b2);
        border: none; cursor: pointer;
    }

    #decouvrir:hover {
    background: linear-gradient(#0f0c29, #302b63, #24243e);
    }

    #decouvrir:active {
    background: linear-gradient(#2b32b2, #1488CC);
    }

    .titre-para-btn {
        display: flex; flex-direction: column; gap: 15px;
    }

    .para2_accueil {
        text-align: justify;
    }
    /*style css class="ma_section" fin*/

    /*style css class="contact_info" debut*/
    .contact_info {
        background: #0d6efd; color: white; margin-top: 1.25rem;
        display: flex; flex-direction: column; gap: 5; padding: 5px;
    }

    .adresse {
        text-align: center; font-size: 1.25rem;
    }

    .titre2-contact-accueil {
        text-align: center;
    }
    /*style css class="contact_info" fin*/
    /*Code css pour la page accueil.html fin*/

    /*Code css pour la page services.html debut*/
    /*style css class="ma_header" debut*/
    .lien_menu {
        font-size: 1.37rem; text-decoration: none;
    }
    /*style css class="ma_header" fin*/

    /*style css class="titre1_services" debut*/
    .titre1_services {
    text-align: center; border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    background: #333; /* gris foncé */
    color: #fff; margin-top: 1.25rem;
    font-size: 1.75rem;
    }
    /*style css class="titre1_services" fin*/

    /*style css class="contact_info" debut*/
    .contact_info {
        padding: 5px; display: flex; flex-direction: column;
        gap: 5px;
    }
    /*style css class="contact_info" debut*/

    /*style css class="img-tech-info" debut*/
    .img-tech-info {
        width: 100%; max-width: 450px; height: auto;
        display: block; margin: auto;
        border-radius: 50%; margin-top: 1.25rem;
    }
    /*style css class="img-tech-info" fin*/

    /*style css class="titre1-tech-info" debut*/
    .titre1-tech-info {
        color: #1874FD; text-align: center;
        margin-top: 1.25rem;
    }
    /*style css class="titre1-tech-info" fin*/

    /*style css class="titre_niveau3" debut*/
    .titre_niveau3 {
        font-size: 1.5rem;
    }
    /*style css class="titre_niveau3" fin*/

    /*style css class="mes-listes-apuce" debut*/
    .mes-listes-apuce {
        font-size: 1.25rem;
    }
    /*style css class="mes-listes-apuce" fin*/

    /*style css class="puce" debut*/
    .puce {
        margin-left: 90px;
        display: flex; flex-direction: column; gap: 5px;
    }
    /*style css class="puce" fin*/

    /*style css class="dispositif" debut*/
    .dispositif {
        display: flex; flex-direction: column; gap: 20px;
        margin-top: 1.25rem;
    }
    /*style css class="dispositif" fin*/

    /*style css class="dispositif" debut*/
    .liste_mains {
        display: flex; flex-direction: column; gap: 10px;
    }
    /*style css class="dispositif" fin*/

    .main-droite-puce, .liste_mains {
        padding-left: 10px;
    }
    /*Code css pour la page services.html fin*/

    /*Code css pour la page catalogue.html debut*/
    /*style css class="intro_catalogue" debut*/
    .titre1-intro-catalogue {
        color: #0D6EFD;
    }

    .intro_catalogue {
        display: flex; flex-direction: column; align-items: center;
    }

    .para1_catalogue {
        font-size: 1.125rem; text-align: justify; padding: 10px;
    }
    /*style css class="intro_catalogue" fin*/

    /*style css class="ma-section-catalogue" debut*/
.ma-section-catalogue {
        display: grid; grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(10, 350px); gap: 50px;
        margin-top: 1.25rem; background-color: #0D6EFD;
    }

    .image_catalogue {
        width: 100%; height: 350px; padding-left: 10px;
        padding-right: 10px;
    }

    .para2_catalogue {
        text-align: center; background-color: #333;
    color: white; font-size: 1.25rem; margin-left: 10px;
    margin-right: 10px;
    }
    /*style css class="ma-section-catalogue" fin*/
    /*style css class="contact_info" debut*/
    .contact_info {
        padding: 5px; display: flex; flex-direction: column;
        gap: 5px;
    }
    /*style css class="contact_info" debut*/

    #back-to-top {
    padding: 10px 20px; border: none;
    color: white; background-color: blue;
    position: fixed; right: 20px; bottom: 20px;
}

#back-to-top:active {
    border: 1px solid black;
}
    /*Code css pour la page catalogue.html fin*/
}

/*TABLETTE FIN*/
